.Auth {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 4rem;
  position: relative;
}
.Auth > div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.a-left {
  gap: 2rem;
}
.a-left > img {
  width: 4rem;
  height: 4rem;
}
.WebName > h1 {
  font-size: 3rem;
  background-color: red;
  background-image: var(--buttonBg);
  background-size: 100%;
  background-repeat: reapet;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.WebName > h6 {
  font-size: 0.85rem;
}
.infoForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.infoInput {
  border: none;
  outline: none;
  background-color: var(--inputColor);
  border-radius: 8px;
  padding: 20px;
  flex: 1;
}
.infoForm > div {
  display: flex;
  gap: 1rem;
  height: 2rem;
  width: 90%;
}
.info-button {
  width: 6rem;
  height: 2rem;
  align-self: flex-end;
}
.authForm {
  background-color: var(--cardColor);
  border-radius: 1rem;
  padding: 1rem;
}
.authForm > div {
  width: 100%;
  align-items: center;
  justify-content: center;
}

.loginInput {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 3rem;
}
.loginInput > input {
  width: 90%;
}

@media screen and (max-width: 450px) {
  .Auth {
    flex-direction: column;
    gap: 0rem;
  }
  .a-left {
    gap: 0.5rem;
  }
  .a-left > img {
    width: 2rem;
    height: 2rem;
  }
  .infoForm > div {
    flex-direction: column;
    width: 100%;
    margin: 10px 0;
  }
  .Auth > div {
    width: 100%;
  }

  .infoForm {
    width: 100%;
    padding: 1rem;
  }
  .infoInput {
    padding: 16px;
    width: 100%;
  }
}
